.teamImage {
    width: 100%;
}
@media screen and (max-width: 500px){
    .teamImage {
        object-fit: cover;
        object-position: 70% 0;
    }

    #team-img{      
        content:url("../../../public/assets/OurTeamMobileView.png");
      } 
    
      .team_image{
          margin-top: -45px;
      }
}