.headerImage {
    width: 100%;
}
@media screen and (max-width: 500px){
    .headerImage {
        height: 40px;
        object-fit: cover;
        object-position: 70% 0;
    }

    #main-img{      
        content:url("/Users/manishthapa/Documents/dev/nextstep/hairdresser/friseurteam-drewes/public/assets/SectionHeaderMobile.jpg");
      } 
    
      .main_image{
          margin-top: -45px;
      }
}