.headerImage {
    width: 100%;
}
@media screen and (max-width: 500px){
    .headerImage {
        object-fit: cover;
        object-position: 70% 0;
    }

    #team-img{      
        content:url("/Users/manishthapa/Documents/dev/nextstep/hairdresser/friseurteam-drewes/public/assets/OurTeamMobileView.png");
      } 
    
      .team_image{
          margin-top: -45px;
      }
}