body {

	font-weight: 300;
	line-height: 1.42em;
	color:#000000;
	background-color:#ffffff;
  }
  
  h1 {
	font-size:3em; 
	font-weight: 300;
	line-height:1em;
	text-align: center;
	color: #000000;
  }
  
  h2 {
	font-size:1em; 
	font-weight: 300;
	text-align: center;
	display: block;
	line-height:1em;
	padding-bottom: 2em;
	color: #000000;
  }
  
  h2 a {
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
  }
  
.content{
    padding-left: 15%;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;

}

.table td,.table th{
  padding:12px 15px;
  text-align: left;
  font-size:16px;

}

.table th{
	
	color:#000000;
}
.tabMainContainer{
    padding-left: 20%;
	padding-top: 75px;
}

.table tr:hover {
    background-color: #ffffff;
 -webkit-box-shadow: 0 6px 6px -6px #000000;
        -moz-box-shadow: 0 6px 6px -6px #000000;
             box-shadow: 0 6px 6px -6px #000000;
 }
/*responsive*/
@media screen and (min-width: 500px) {
    .Root{
        padding: 30px 250px;
    }
    .TabList{
        list-style-type: none;
    }
}


